openapi: 3.0.0
info:
  title: Essence Enclave API
  description: API documentation for Essence Enclave backend
  version: 1.0.0

servers:
  - url: http://localhost:5000
    description: Development server

tags:
  - name: Auth
    description: Authentication endpoints
  - name: Users
    description: User management

paths:
  /api/auth/register:
    post:
      tags:
        - Auth
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterUser"
      responses:
        201:
          description: User registered successfully
        400:
          description: Validation error

  /api/auth/login:
    post:
      tags:
        - Auth
      summary: Login into your account
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginUser"
      responses:
        200:
          description: Logged in successfully
        400:
          description: Validation error
components:
  schemas:
    RegisterUser:
      type: object
      required:
        - firstName
        - lastName
        - email
        - password
      properties:
        firstName:
          type: string
          example: John
        lastName:
          type: string
          example: Doe
        email:
          type: string
          example: johndoe@gmail.com
        password:
          type: string
          example: secret123
        phoneNumber:
          type: string
          example: "08012345678"

    LoginUser:
      type: object
      required:
        - email
        - password
      properties:
        email:
          type: string
          example: johndoe@gmail.com
        password:
          type: string
          example: secret123

